# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Data / temporary event logs
data/*.jsonl

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
